<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First web-site</title>
    <link rel = "stylesheet" href = "static/style.css">
</head>
<body style="background-color: blanchedalmond;">
    <p>
    <ul>
        <li><a class ="my-btn" href="https://translate.google.com/?hl=uk" >hello</a></li>
        <li><a href="/" > На головну</a></li>
    </ul>
    </p>
    
    <!--tag-->

</body>
</html>